
.eq button{
    padding: 17px; 
}
#c {
    text-transform: uppercase;  

    /* comentar varias líneas: ctrl k + ctrl c */
}

.screen{
    border: 1px solid black;
}

/*commit test 
*/
body {
    background-color: red;
}

